[Unit]
Description=QD Service
After=network.target

[Service]
Type=simple
User=dell
WorkingDirectory=/home/dell/iscas/qd
Environment="PORT=8205"
ExecStart=/bin/bash /home/dell/iscas/qd/qd_service.sh
