<title>{{title}}</title>

<form action="/start_demo" method="get">
show image<br>
video_url: <input type="text" value={{video_url}} name="video_url" />
task_name: <input type="text" value={{task_name}} name="task_name" />
others: <input type="text" value={{others}} name="others" />
<input type="submit" value="Submit" />
</form>

<form action="/start_play" method="get">
show image without detection<br>
video_url: <input type="text" value={{video_url}} name="video_url" />
task_name: <input type="text" value={{task_name}} name="task_name" />
others: <input type="text" value={{others}} name="others" />
<input type="submit" value="Submit" />
</form>
