<title>{{title}}</title>
<a href="/task_result/{{pid}}">view task result</a><br>
<a href="/demo"> view demo </a><br>
<a href="/kill"> kill subprocess </a><br>
<a href="/status"> show programe status </a><br>
<a href="/bg_tasks"> show running background tasks information </a><br>
<a href="/qd.log"> view log </a><br>

<h2>start task</h2>
<form action="/start_task" method="post">
video_url: <input list="video_list" type="text" value={{video_url}} name="video_url" />
<datalist id="video_list">
    <option value="rtsp://admin:juancheng1@221.1.215.254:554">221.1.215.254</option>
    <option value="rtsp://admin:Chinsoft@sx3.7766.org:954">sx3.7766.org</option>
</datalist>
<br>
task_name:
<select name="task_name" value={{task_name}} >
    <option value="car">汽车检测</option>
    <option value="excavator">挖掘机检测</option>
    <option value="helmet_color">安全帽颜色检测</option>
    <option value="helmet">安全帽检测</option>
    <option value="truck">卡车检测</option>
</select>
<br>
others: <input type="text" maxlength=2560 name="others"></input>
<br>
<input type="submit" value="Submit" />
</form>

others example:
<code>
{{others}}
</code>

<h2>stop task</h2>
<form action="/stop_task" method="post">
video_url: <input list="video_list" type="text" value={{video_url}} name="video_url" />
<br>
task_name:
<select name="task_name" value={{task_name}} >
    <option value="car">汽车检测</option>
    <option value="excavator">挖掘机检测</option>
    <option value="helmet">安全帽检测</option>
    <option value="truck">卡车检测</option>
</select>
<br>
others: <input type="text" maxlength=2560 name="others"></input>
<br>
<input type="submit" value="Submit" />
</form>

<video width="320" height="240" controls="controls" autoplay="autoplay">
  <source src="/static/x264_test.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

<h1>pid = {{pid}}</h1>
<h1>status = {{status}}</h1>
<h1>is_running = {{is_running}}</h1>
